$border: 1px solid #6a94d2;

.board{
  margin: 50px;
  border-left: $border;
  border-top: $border;
  width: min-content;

  .board-row{
    display: flex;

    .cell{
      border-bottom: $border;
      border-right: $border;
    }
  }

  &.blocked{
    pointer-events: none;
  }
}
