<div class="controls m-3">
  <button class="btn btn-primary mr-3" (click)="runDijkstra()">Find path</button>
  <button class="btn btn-danger" (click)="clearBoard()">Clear path</button>
</div>

<div class="board" [class.blocked]="isPainting">
  <div class="board-row" *ngFor="let row of boardSquaresCounter(rowsAmount)">
    <ng-container *ngFor="let square of boardSquaresCounter(colsAmount)">
      <div class="cell">
        <app-maze-square #vertices></app-maze-square>
      </div>
    </ng-container>
  </div>
</div>
