@import "./../../../../scss/colors";
$dropdown-width: 250px;

.dropdown{
  .dropdown-menu-primary{
    background: var(--primary);
    min-width: $dropdown-width;

    .dropdown-item{
      color: white;
      display: flex;
      justify-content: center;

      &:hover{
        color: var(--primary);
      }
    }
  }

  .dropdown-toggle{
    min-width: $dropdown-width;
    &:after{
      position: absolute;
      right: 7px;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s;
    }
  }

  &.show{
    .dropdown-toggle{
      &:after{
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
}


