@use "../maze-board.component";
$size: 20px;

.square{
  width: $size;
  height: $size;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 9px;

  &.start{
    background: #00ff1d;
    position: relative;

    &:before{
      content: '➤';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
  &.finish{
    background: #cd3208;
    position: relative;

    &:before{
      content: '🞅';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
}



