@import "colors";
@import "variables";

.board-square{
  width: $board-square-size;
  height: $board-square-size;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 9px;

  &.start{
    background: var(--BS-start);
    position: relative;

    &:before{
      content: '➤';
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }
  &.finish{
    background: var(--BS-finish);
    position: relative;

    &:before{
      content: '🞅';
      color: black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
    }
  }

  &.visited{
    background: var(--BS-visited);
  }
  &.wall{
    background: var(--BS-wall);
  }
  &.optimalPath{
    background: var(--BS-opt-path);
  }
  &.inProcess{
    background: #28ff21;
  }
}



